.top-bottom-line-green {
    height: 100%;
    color: #2ACF09;
}

.top-bottom-line-white {
    height: 100%;
    color: white;
}

.active {
    color: #E08566 !important;
    background-color: transparent;
}

.side-nav {

}

.side-nav > li > a {
    color: #E08566 !important;
    padding:2px 2px !important;
}

.divider {
    height: 2px;
    background-color: darkgreen;
}

.title {
    color: rgb(211, 60, 107);
    font-family: 'Calibri-Bold', 'Calibri';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.tekst {
    color: rgb(66, 66, 66);
    font-family: 'Calibri';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.shadow {
    -webkit-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75)!important;
    box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75)!important;
}

.text_style_1 {
    font-size:50px !important;
}

.carousel-inner > .item > img {
    margin: auto;
}

.bs-sidebar.affix {
    width: 263px;
    top: 25px;
}
@media (min-width: 768px) {
    .bs-sidebar.affix {
        width: 158px;
        top: 25px;
    }
}

@media (min-width: 992px) {
    .bs-sidebar.affix {
        width: 213px;
        position: fixed;
        top: 25px;
    }
}

@media (min-width: 1200px) {
    .bs-sidebar.affix {
        width: 263px;
    }
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #2ACF09;
    box-shadow: 0 0 30px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.content section {
    background-color: pink;
    margin-bottom:20px;
    height:750px;
}

.nav-list {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.nav-list .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.nav-list > .active .icon-chevron-right {
    opacity: 1;
}



.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0
    rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

@media (min-width: 1200px){
    .nav-list {
        width: 258px;
    }
}

@media (max-width: 979px) and (min-width: 768px){
    .nav-list {
        width: 166px;
        margin-top: 20px;
    }
}

@media (max-width: 767px){
    .nav-list.affix {
        position: static;
        width: auto;
        top: 0;
        margin-bottom:15px;
        margin-left:15px;
    }

}

ul#sidebar.nav.nav-stacked.affix li.active a {
    color: #7e0098 !important;
    background-color: transparent;
}

.margin_top_1 {
    margin-top: 1%;
}

.no_padding_side {
    padding-left: 0px !important;
    padding-right: 0px !important;
}